{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block content %} {{block.super}}
{% include 'navbar.html' %}
<div class="content-view">
  <section class="main">
    <div class="card">
        <img src="/static/images/bg.jpg">
        </div>
    </section>
    <section class="projects">
      </section>
{% endblock %}
