{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block content %} {{block.super}}
{% include 'navbar.html' %}
<div class="content-view">
  <section class="main">
    <div class="card">
        <img src="/static/img/bg.jpg">
        </div>
    </section>
  <p1><strong>Sites of the day</strong></p1>
    <section class="projects">
      <div class ="container">
    <div class="row">
      <div class="column">
      <img src="/static/img/img1.jpg" style="width:100%">
        </div>
        <div class="column">
      <img src="/static/img/img2.jpg" style="width:100%">
        </div>
          <div class="column">
      <img src="/static/img/img3.jpg" style="width:100%">
          </div>
           {% for post in posts %}
          <div class="column">
        <img src="{{ post.photo.url }}" style="width:100%">
        {{post.title}}<br>
        {{post.date|date}}<br>
        By {{post.user.username|title}}<br>
        <button class="btn btn-info"><a href="{% url 'project' post.title %}" style="text-decoration:none;color:white;">Rate</a></button>
          </div>
           {% endfor %}
          </div>
      </div>
      </section>
{% endblock %}
