{% extends 'base.html' %}
{% load static %}
{% load bootstrap4 %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>
{% block content %} {{block.super}}
{% include 'navbar.html' %}
<div class="content-view">
  <section class="main">
    <div class="card">
        <img src="/static/images/bg.jpg">
        </div>
    </section>
  <p1><strong>Sites of the day</strong></p1>
    <section class="projects">
      <div class ="container">
    <div class="row">
      <div class="column">
      <img src="/static/images/img1.jpg" style="width:100%">
        </div>
        <div class="column">
      <img src="/static/images/img2.jpg" style="width:100%">
        </div>
          <div class="column">
      <img src="/static/images/img3.jpg" style="width:100%">
          </div>
          </div>
      </div>
      </section>
{% endblock %}
