{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load bootstrap4 %}
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
</div>
<nav class="navbar navbar-light bg-light">
   <div class="main-wrapper">
     <p>The awards of design,creativity and innovation on the internet</p>
     </div>
  <div class="line"></div>
  <div class="container-fluid">
      <h2 class="topnav-centered"><strong>awwwards</strong></h2>
    <span class="signup" ARE YOU A MEMBER? data-toggle="modal" data-target="#SignUpForm" ovalidate enctype="multipart/form-data" alt="" <strong>REGISTER/LOGIN</strong>
     <a class="login btn btn-sm btn-info" style="height:60px; width:200px;padding-top:20px;"><strong>SUBMIT YOUR SITE!</strong></a>
  </div>
</nav>
<div class="modal fade" id="SignUpForm" tabindex="-1" role="dialog"
                     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <h2>SIGN-UP</h2>
                                <form action="" method="post" enctype="multipart/form-data" novalidate>
                                    Have an account? <a href="/accounts/login" data-target="#LoginForm" ovalidate enctype="multipart/form-data">Log In</a>
                                    {% csrf_token %}
                                    {% bootstrap_form FORM %}
                                    <div class="mb-2">
                                    <button class="login-button" href="/accounts/register/" type="submit">Sign Up</button>
                                     <input type="hidden" name="next" value="{{next}}">
                                    </div>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal">
                                        Close
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
        {% endblock %}
